{% extends "shablon.html" %}

{% block title %}Choose Category{% endblock %}

<style>
  .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
  }
</style>

{% block content %}
    <div class="container my-1">
        <div class="row">
            <div class="col-lg-12 col-sm-12 mb-4">
                <select id="category-select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Выберите категорию вопросов</option>
                  <option value="География">География</option>
                  <option value="История">История</option>
                  <option value="Спорт">Спорт</option>
                  <option value="Литература">Литература</option>
                  <option value="Экономика">Экономика</option>
                </select>
                <a href="#" onclick="startGame()" class="btn btn-outline-success full-width-button">Начать</a>
            </div>
        </div>
    </div>

<script>
    function startGame() {
        const category = document.getElementById('category-select').value;
        if (category !== 'Выберите категорию вопросов') {
            window.location.href = `/game?category=${encodeURIComponent(category)}`;
        } else {
            alert('Пожалуйста, выберите категорию.');
        }
    }
</script>

{% endblock %}