{% extends "shablon.html" %}

{% block title %}Home Page{% endblock %}

<style>
  .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
  }
  .timer {
      font-size: 48px;
      margin-top: 20px;
      color: #333;
  }
</style>

{% block content %}
<div class="container my-1">
    <div class="row">
        <div class="col-lg-12 col-sm-12 mb-4">
            <div class="card h-100" style="width: 54rem; height: auto;">
                <div class="card-body">
                    <div class="d-grid gap-2 d-md-flex justify-content-between">
                        <div class="fw-bolder card-title timer text-left" id="timer">30</div>
                        <div class="fw-bolder card-title counter text-right" id="counter">1</div>
                    </div>
                    <div id="question" class="fs-3 fw-bold card-title text-center">Столица России?</div>
                    <a href="#" id="btn1" class="btn btn-outline-success fw-bolder full-width-button my-1">Москва</a>
                    <a href="#" id="btn2" class="btn btn-outline-success fw-bolder full-width-button my-1">Берлин</a>
                    <a href="#" id="btn3" class="btn btn-outline-success fw-bolder full-width-button my-1">Лондон</a>
                    <a href="#" id="btn4" class="btn btn-outline-success fw-bolder full-width-button my-1">Ташкент</a>
                    <a href="#" class="btn btn-outline-danger fw-bolder full-width-button my-1" onclick="skipQuestion()">Пропустить</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let timeLeft = 30;
    const timerElement = document.getElementById('timer');
    const questionElement = document.getElementById('question');
    const counterElement = document.getElementById('counter');
    let currentQuestionIndex = 0;
    let category = "{{ category }}";

    if (!category) {
        category = 'География';  // Установим категорию по умолчанию
    }

    let questions = {
        'География': [
            {'question': 'Столица России?', 'correct_answer': 'Москва',
            'answers': ['Москва', 'Берлин', 'Лондон', 'Ташкент']},
            {'question': 'Какая река самая длинная в мире?', 'correct_answer': 'Нил',
            'answers': ['Амазонка', 'Нил', 'Миссисипи', 'Янцзы']},
            {'question': 'Какой океан самый большой?', 'correct_answer': 'Тихий океан',
            'answers': ['Атлантический океан', 'Тихий океан', 'Индийский океан', 'Северный Ледовитый океан']},
            {'question': 'В какой стране находится Мачу-Пикчу?', 'correct_answer': 'Перу',
           'answers': ['Чили', 'Бразилия', 'Перу', 'Колумбия']},
        ],
        // Добавлены другие категории...
    };

    const countdown = setInterval(() => {
        if (timeLeft <= 0) {
            clearInterval(countdown);
            timerElement.textContent = 'Время вышло!';
            setTimeout(() => {
                location.reload();
            }, 1000);
        } else {
            timerElement.textContent = timeLeft;
            timeLeft--;
        }
    }, 1000);

    function loadQuestion() {
        if (currentQuestionIndex < questions[category].length) {
            const question = questions[category][currentQuestionIndex].question;
            const answers = questions[category][currentQuestionIndex].answers;
            questionElement.textContent = question;
            counterElement.textContent = currentQuestionIndex + 1;

            for (let i = 0; i < answers.length; i++) {
                const button = document.getElementById(`btn${i+1}`);
                button.textContent = answers[i];
                button.onclick = function() { checkAnswer(answers[i]); };
            }
        } else {
            alert('Игра завершена!');
            location.reload();
        }
    }

    function checkAnswer(answer) {
        alert('Вы выбрали: ' + answer);
        currentQuestionIndex++;
        loadQuestion();
    }

    function skipQuestion() {
        alert('Вопрос пропущен');
        currentQuestionIndex++;
        loadQuestion();
    }

    loadQuestion();
</script>
{% endblock %}




